<!-- templates/add_credential.html -->
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<body style="background:url(static/background/pipes.png);">
<div class="container-fluid" style="padding:30px; height:100vh; width: 600px;">
<h1>Add New Credential</h1>
<form method="POST" >
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.website.label }}
    {{ form.website(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Add Credential</button>
</form>
</div>
{% include "footer.html" %}
</body>
{% endblock %}
