<!-- templates/add_credential.html -->
{% extends 'layout.html' %}

{% block content %}
<h1>Add New Credential</h1>
<form method="POST">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.website.label }}
    {{ form.website(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Add Credential</button>
</form>
{% endblock %}