{% block footer %}
<div  style="z-index: 1050;position: relative;">
<footer class="footer" style="background:url(/static/background/micro_carbon.png);">  
    <div class="container">  
    <div class="row">  
    <div class="col-md-4 m-b-30">  
    <div class="footer-title m-t-5 m-b-20 p-b-8">  
    Creators  
    </div>  
    <p class="white-text">  
      Charles Ikenna Abara,
    </p>  
    <p class="white-text">  
        Sio Chan Weng, Steven
      </p> 
    </div>  
    <div class="col-md-4 m-b-30">  
    <div class="footer-title m-t-5 m-b-20 p-b-8">  
    Charles Ikenna Abara 
    </div>  
    <div class="footer-links">  
    <a href="https://github.com/fantoosh/"> <i class="fa fa-github-square" style="font-size:24px"> </i>&nbsp;&nbsp;github.com/fantoosh</a>  

   
    <a href="https://www.linkedin.com/in/charles-abara/"> <i class='fab fa-linkedin' style='font-size:24px'></i>&nbsp;&nbsp;linkedin.com/in/charles-abara</a>  


    <a href="mailto:charlesclean0001@gmail.com"><i class='far fa-envelope-open' style='font-size:24px'></i>&nbsp;&nbsp;charlesclean0001@gmail.com</a> 
    </div>  
    </div>  
    <div class="col-md-4 m-b-30">  
    <div class="footer-title m-t-5 m-b-20 p-b-8">  
    Steven Sio
    </div>  
    <div class="footer-links">  
        <a href="https://github.com/stevensio123"> <i class="fa fa-github-square" style="font-size:24px"> </i>&nbsp;&nbsp;github.com/stevensio123</a>  

   
        <a href="https://www.linkedin.com/in/steven-sio/"> <i class='fab fa-linkedin' style='font-size:24px'></i>&nbsp;&nbsp;linkedin.com/in/steven-sio</a>  
    
    
        <a href="mailto:stevenscw3253@gmail.com"><i class='far fa-envelope-open' style='font-size:24px'></i>&nbsp;&nbsp;stevenscw3253@gmail.com
        </a> 

    </div>  
    </div>  
   
    </div>  
    </footer>  
    <div class="footer-bottom">  
    Copyright &#169; 2022, All Rights Reserved  
    </div>  
    </div>  
    </div>  
    </div>  
</div>
{% endblock %}
<script src="https://kit.fontawesome.com/13245035ce.js" crossorigin="anonymous"></script>