{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Password Generator - Homepage{% endblock %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <h1 class="display-4 fw-bold">Password Manager and Generator</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                The buttons dont do anything yet. Make them redirect to vault/password manager.
                Think of some other stuff we can have on the homepage. Consider adding a footer, this
                should be done in "layout.html".
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Valut</button>
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Password Generator</button>
            </div>
        </div>
    </div>
{% endblock %}



