{% extends "bootstrap/base.html" %}

{% block title %}Password Manager layout{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block navbar %}
<div>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background:url(/static/background/micro_carbon.png);" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"style="margin-right:10px;"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><img id="navlogo" src="/static/logo/logo_locked_white.png" width="30" height="30" onmouseover="newlogo()" onmouseout="oldlogo()"alt=""></a></li>
                        <li><a href="{{ url_for('vault.view_credentials') }}">Vault</a></li>
                        <li><a href="{{ url_for('pgenerator.pgenerate') }}">Generate Password</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        </div>
</div>
<script type="text/javascript">
    function newlogo() {
        document.getElementById("navlogo").src = "/static/logo/logo_white.png";
        }
    function oldlogo() {
        document.getElementById("navlogo").src = "/static/logo/logo_locked_white.png";
        }
</script>
{% endblock %}
{% block content %}
{% endblock %}



